.row {
  color: #fff;
  margin-left: 20px;
  position: relative;
  top: -70px;
}

.posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.posters::-webkit-scrollbar {
  display: none;
}

.headingH2 {
  font-family: "Bold";
  font-size: clamp(2rem, 5vw, 2.8rem);
}

.poster__image {
  max-height: 250px;
  object-fit: contain;
  margin-right: 14px;
  /* width: 100%; */
  transition: transform 250ms linear;
  /* aspect-ratio: 16/9; */
  position: relative;
  cursor: pointer;
}

.poster__image:hover {
  transform: scale(1.08);
  opacity: 1;
}

.container__outer {
  background: rgba(30, 30, 30, 0.75);
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 8rem;
  padding: 0 3rem;
}

.container__inner {
  background-color: yellow;
  width: 100%;
  height: 70vh;
}
