.nav {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}

.nav__logo {
  object-fit: contain;
  width: 150px;
}

.nav__main {
  composes: nav;
  background: yellow;
  height: 80px;
}

.nav__avatar {
  width: 40px;
}
