.register {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background: rgb(253, 253, 253);
  position: relative;
}

.content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: min(90%, 500px);
  color: rgb(28, 28, 28);
  padding-top: 10rem;
}

.heading1 {
  font-size: 2rem;
  font-family: "Bold";
}

.heading2 {
  margin-top: 20px;
  font-size: 1.6rem;
  font-weight: 300;
}

.form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.input {
  height: 40px;
  border: 1px solid rgb(176, 176, 176);
  border-radius: 5px;
  outline-width: 0;
  background: transparent;
  padding: 10px;
  font-size: 1.2rem;
  width: 100%;
}

input[type="checkbox"] {
  /* position: absolute; */
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
}

.btn {
  height: 40px;
  margin-top: 30px;
  text-transform: uppercase;
  background: var(--cl-primary-500);
  border-radius: 5px;
  color: #fff;
  font-size: 1.6rem;
  transition: all 300ms linear;
}

.btn:hover {
  background: var(--cl-primary-700);
}
