.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 1;
  padding: 20px;
  text-align: center;
  width: min(90%, 700px);
}

.heading1 {
  font-size: clamp(2rem, 5vw, 4.1rem);
  margin-bottom: 20px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
  font-family: "Black";
}

.heading2 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 15px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
  font-family: "Bold";
}

.heading3 {
  font-size: 1.3rem;
  font-weight: 400;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
  font-family: "Regular";
}

.form {
  height: 5rem;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.input,
.btn {
  height: 100%;
}

.input {
  flex: 1;
  outline-width: 0;
  font-size: 1.4rem;
  padding-left: 20px;
}

.btn {
  flex: 1;
  width: 100%;
  margin-top: 1rem;
  background: var(--cl-primary-500);
  color: #fff;
  font-size: 1.8rem;
  padding: 0 2rem;
  transition: all 300ms linear;
}

.btn:hover {
  background: var(--cl-primary-700);
}

.error {
  color: rgb(197, 139, 32);
  font-weight: 800;
  padding-top: 10px;
  text-align: left;
}

@media (min-width: 768px) {
  .form {
    flex-direction: row;
  }

  .btn {
    flex: 2;
    padding: 0 8rem;
    margin-top: 0;
  }
}
