.login {
  position: relative;
  height: 100vh;
  background-image: url("../assets/images/netflix_wallpaper.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
}

.login__nav {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}

.nav__logo {
  object-fit: contain;
  width: 150px;
}

.nav__btn {
  font-size: 1.6rem;
  font-weight: 600;
  background: var(--cl-primary-500);
  color: #fff;
  padding: 1rem 2rem;
  transition: all 300ms linear;
  border-radius: 4px;
}

.nav__btn:hover {
  background: var(--cl-primary-700);
}

.login__content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  color: #fff;
  z-index: 1;
  padding: 20px;
  text-align: center;
  width: min(90%, 700px);
}

.content__h1 {
  font-size: 3.1rem;
  margin-bottom: 20px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
}

.content__h2 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 30px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
}

.content__h3 {
  font-size: 1.3rem;
  font-weight: 400;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
}

.login__gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.2) 54%,
    rgba(0, 0, 0, 0.6) 100%
  );
}

.login__form {
  height: 5rem;
  display: flex;
}

.login__input,
.login__btn {
  height: 100%;
}

.login__input {
  flex: 1;
  outline-width: 0;
}

.login__btn {
  flex: 2;
  padding: 0 8rem;
}

.login__error {
  color: rgb(197, 139, 32);
  font-weight: 800;
  padding-top: 10px;
  text-align: left;
}
