@import-normalize;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cl-primary-500: #e50914;
  --cl-primary-700: #c60912;
  --cl-dark: #111;
}

/* FONTS */

@font-face {
  font-family: "Black";
  src: local("NetflixBlack"),
    url("./assets/fonts/NetflixSansBlack.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("NetflixBold"),
    url("./assets/fonts/NetflixSansBold.ttf") format("truetype");
}

@font-face {
  font-family: "Light";
  src: local("NetflixLight"),
    url("./assets/fonts/NetflixSansLight.ttf") format("truetype");
}

@font-face {
  font-family: "Medium";
  src: local("NetflixMedium"),
    url("./assets/fonts/NetflixSansMedium.ttf") format("truetype");
}

@font-face {
  font-family: "Regular";
  src: local("NetflixRegular"),
    url("./assets/fonts/NetflixSansRegular.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Thin";
  src: local("NetflixThin"),
    url("./assets/fonts/NetflixSansThin.ttf") format("truetype");
}

html,
body {
  height: 100%;
  font-size: 62.5%;
  font-family: "Medium";
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: var(--cl-dark);
}

audio,
video {
  display: inline-block;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  /* max-width: 100%; */
}

button,
input {
  overflow: visible;
  font-family: "Medium";
}

button,
select {
  text-transform: none;
  cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  border: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

fieldset {
  border: none;
}

/* GENERAL CSS STYLING */

.netflix__banner {
  position: relative;
  height: 100vh;
  background-image: url("./assets/images/netflix_wallpaper.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
}

.gradient__wrapper {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.2) 54%,
    rgba(0, 0, 0, 0.6) 100%
  );
}

.input__container {
  position: relative;
  width: 100%;
  height: fit-content;
}

.error {
  color: rgb(224, 172, 76);
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
  display: flex;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: self-start;
  height: 150px;
  width: 100%;
}

/* special styles for stu */
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  pointer-events: none;
}

.dot {
  height: 16px;
  width: 16px;
  background-color: white;
  border-radius: 50%;
  margin: 10px;
  pointer-events: none;
}
